{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Bog'lanish - pyblog.uz</title>
{% endblock %}


{% block content %}


    <main>
        <div class="contact">
            <div class="section-wrapp">
                <div class="container">
                    <div class="contact-info_wrapper">
                        <div class="contact-info shadowed">
                            <h1 class="contact-heading">Aloqa</h1>
                            <br>
                            <h3 class="contact-subheading">Savol va takliflar masalasida bog’lanish uchun
                                ma’lumotlarimiz</h3>

                            <p class="contact-text_info">Elektron manzilimiz: <a
                                    href="mailto:support@pyblog.uz">support@pyblog.uz</a>
                            </p>

                            <p class="contact-text_info">Manzilimiz: <a href="#">170100 , Andijon
                                    shahar, Sog’lom Avlod ko’chasi 24a
                                    - uy</a>
                            </p>

                            <p class="contact-text_info">Blogni ijtimoiy tarmoqlarda ulashish:</a>
                            </p>

                            <div class="contact-socials_list">
                                <a href="#" class="contact-social_item facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>

                                <a href="#" class="contact-social_item instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>

                                <a href="#" class="contact-social_item telegram">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<br>
<br>
{% endblock %}